<br />
@{
    ViewBag.Title = "Esta pagina esta orientada a que las personas puedan lograr un equilibrio entre la teoria y la practica en el tema de las finanzas personales";
}

<center>
    <h2>@ViewBag.Title.</h2>
</center>
<br />
<div class="row">
    <div class="col-md-4">
        <h2>¿Como lograrlo?</h2>
        <p>
            * Conocete a ti mismo<br /><br />
            * Ahorra regularmente cuánto antes mejor<br /><br />
            * Valora el dinero<br /><br />
            * Enseña a tus hijos cuanto cuenta ganar dinero<br /><br />
            * No malgastes el dinero<br /><br />
            * Controla tus tarjetas de credito
        </p>
        <div />
    </div>
    </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Un video te puede ayudar</h2>
                <p>
                    <video src="~/Content/6 Pasos para organizar y mejorar tus finanzas personales.mp4" controls autoplay height="300"  > <</video>
                </p>
                <p><a class="btn btn-default" href="https://www.creditoreal.com.mx/educacionfinanciera/la-importancia-de-planear-tus-finanzas-personales">Leer más &raquo;</a></p>
            </div>
        </div>
