@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1>Mejora Tus Finanzas Personales</h1>
    <p class="lead">No ahorres lo que te sobró después de haber gastado; mejor, gasta lo que te quedó después de haber ahorrado..</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>¿Por qué es importante planear nuestras finanzas?</h2>
        <p>
            Además de tu vida, también es importante planear tus finanzas personales, ya que podrás analizar tu situación actual, elegir alternativas y tomar decisiones acordes a tus necesidades para que en un futuro puedas tener mayor tranquilidad, control y oportunidades financieras, pero sobre todo, mayores recursos económicos.
            Para que des el primer paso en tu plan de finanzas personales, contesta las siguientes preguntas, las cuales te ayudarán a saber cuál es tu situación actual.<br/>
            ¿Y tú, qué plan tienes con:<br/>
            el presupuesto?<br />
            …el ahorro?<br />
            …el crédito?<br />
            …la inversión?<br />
            …los seguros?<br />
            …el ahorro para el retiro?
        </p>
        <p><a class="btn btn-default" href="https://www.creditoreal.com.mx/educacionfinanciera/la-importancia-de-planear-tus-finanzas-personales">Leer más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Siete tips financieros para emprendedores</h2>
        <p>
        1. Ahorrar antes de iniciar.<br />         
        2. Separar las finanzas del negocio con las personales.<br />      
        3. Tener cuidado con el “efecto tijera”<br />        
        4. Presupuestar tus prestaciones.<br />       
        5. Mantener las deudas bajo control. <br />          
        6. Manejar cuidadosamente los impuestos, tanto en tus costeos como en la operación.<br/>     
        7. Invertir en tu educación tanto para mejorar tus negocios como para aprovechar sus frutos y generar un patrimonio.<br />          </>
        <p><a class="btn btn-default" href="https://mba.americaeconomia.com/articulos/notas/siete-tips-financieros-para-emprendedores">Leer más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hábitos que Mejorarán tus Finanzas Personales</h2>
        <p>
            1. Presupuestar<br />
            2. Ahorrar<br />
            3. Salir de deudas<br />
            4. Invertir<br />
            5. Planificar<br />
            6. Pagar con tiempo<br />
            7. Proteger<br />
            8. Adquirir educación financiera

        </p>
        <p><a class="btn btn-default" href="https://asosec.co/2017/08/8-habitos-financieros-saludables/">Leer más &raquo;</a></p>
    </div>
</div>
